{% extends 'layout.html' %}

{% block additionnal_end_script %}
    <script src="/static/js/search.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class=" justify-content-start align-items-start">
        <h1 class="p-3" style="color: #294B4C">
            <a style="color: #294B4C" href="{{ url_for('admin') }}">Administration</a> -
            <a style="color: #294B4C" href="{{ url_for('codes_list') }}">{% block title %}Liste des
                codes{% endblock %}</a>
        </h1>
    </div>
    <div class="d_flex" style="justify-content: center">
        <a class="vab_button a_no_link_white_vab" href="{{ url_for("create_code") }}">Créer un code</a>
    </div>
    <div class="vab_box_shadow table table_alternate">
        <table>
            <p style="height: 5px"></p>
            <tr id="codes_list_title">
                <td class=" td_title vab-blue-b-tb"><p class="text_20px">Id</p></td>
                <td class=" td_title vab-blue-b-tb"><p class="text_20px">Nom</p></td>
                <td class=" td_title vab-blue-b-tb"><p class="text_20px">Multiplicateur</p></td>
                <td class=" td_title vab-blue-b-tb"><p class="text_20px">Effectif</p></td>
                <td class=" td_title vab-blue-b-tb"></td>
            </tr>
            {% for code in codes %}
                <tr id="code_list_tr_{{ code.id }}">
                    <td id="code_id" class="vab-blue-b-tb "><p class="text_20px">{{ code.id }}</p></td>
                    <td id="code_nickname" class="vab-blue-b-tb "
                        style="text-align: left"><p class="text_20px">{{ code.name }}</p></td>
                    <td id="code_tag" class="vab-blue-b-tb "><p class="text_20px t-center">x{{ code.mult }}</p>
                    </td>
                    <td id="code_effective" class="vab-blue-b-tb  t-center">
                        <i class="icon {% if code.effective == 1 %}green{% else %}red{% endif %} material-icons">
                            {% if code.effective == 1 %}done{% else %}close{% endif %}</i>
                    </td>
                    <td class="text_20px vab-blue-b-tb  t-center"><a
                            href="{{ url_for('modify_code', id=code.id) }}"
                            style="color: #294B4C"><i class="material-icons">create</i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}