{% extends 'layout.html' %}

{% block content %}
    <div class=" justify-content-start align-items-start">
        <h1 class="p-3" style="color: #294B4C">
            <a style="color: #294B4C" href="{{ url_for('members_list') }}">Liste des membres</a> -
            <a style="color: #294B4C" href="{{ url_for('create_member') }}">{% block title %}Créer un
                membre{% endblock %}</a>
        </h1>
    </div>
    <div class="vab_box_shadow">
        <form class="pt_15" name="modify_user_form" aria-disabled="true"
              action="" method="post" enctype="multipart/form-data">
            <div class="flashes">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category != "global_message" %}
                                <div class="flash_msg {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {{ form.hidden_tag() }}
            <table class="">
                <tr>
                    <td class=" pb_15">{{ form.username.label(class_="text_18px") }}</td>
                    <td class="t-center  pb_15">{{ form.username(class_="classic_input") }}</td>
                </tr>
                <tr>
                    <td class=" pb_15">{{ form.password.label(class_="text_18px") }}</td>
                    <td class="t-center  pb_15">{{ form.password(class_="classic_input") }}</td>
                </tr>
                <tr>
                    <td class=" pb_15">{{ form.tag.label(class_="text_18px") }}</td>
                    <td class="t-center  pb_15">{{ form.tag(class_="classic_input") }}</td>
                </tr>
                <tr>
                    <td class=" pb_15">{{ form.effective.label(class_="text_18px") }}</td>
                    <td class="t-center  pb_15">{{ form.effective(class_="vab_checkbox", checked=True) }}</td>
                </tr>
                <tr>
                    <td class=" pb_15">{{ form.admin.label(class_="text_18px") }}</td>
                    <td class="t-center  pb_15">{{ form.admin(class_="vab_checkbox", checked=False) }}</td>
                </tr>
                <tr>
                    <td class=" t-center td_last"
                        colspan="2">{{ form.submit_create_user(class_="vab_button") }}</td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}